* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background: #F2F1F0;
}

section {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input {
    border: none;
}

input:focus-visible, select:focus-visible {
    border: none;
    outline: none;
    box-shadow: none;
}

button {
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*splash screen*/
.intro {
    position: fixed;
    z-index: 2;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transition: 1s;
}

.intro .intro-logo {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.intro .intro-logo .logo-image {
    width: 100%;
    height: 100%;
    max-width: 168px;
    max-height: 227px;
    margin: 0 auto 10px auto;
    animation: fadeIn 5s;
}

.intro .intro-logo .logo-header {
    font-size: 84px;
    color: #000844;
    font-weight: 400;
    margin: 0 auto 14px auto;
}

.intro .intro-logo .logo-footer {
    font-size: 34px;
    color: #00EFB3;
    font-weight: 300;
    margin: 0 auto;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.sidenav {
    height: 100%;
    width: 100%;
    max-width: 257px;
    position: fixed;
    z-index: 0;
    overflow-x: hidden;
    top: 0;
    right: 0;
}

.sidenav .linkedIn-link {
    position: absolute;
    top: 50%;
    left: 30%;
    rotate: 90deg;
}

.sidenav .linkedIn-link a {
    font-size: 18px;
    line-height: 27px;
    color: #000844;
}


.page-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.dark-blue {
    width: 171px;
    height: 48px;
    color: #ffffff;
    background: #000844;
    border-radius: 28px;
    font-size: 16px;
}

.dark-blue:hover {
    color: #000844;
    background: #ffffff;
    border: 1px solid #000844;
}

.main-title {
    font-family: Rosario;
    font-size: 64px;
    line-height: 83px;
    color: #141414;
    font-weight: 500;
}

.description {
    font-size: 18px;
    line-height: 27px;
    color: #141414;
    font-weight: 400;

}

header {
    position: relative;
    left: 0;
    top: 0;
    height: 102px;
}

header .header-content {
    display: flex;
    justify-content: space-between;
    padding: 13px 0;
}

header .header-contact {
    display: flex;
    gap: 62px;
    align-items: center;
}

header .header-contact .item a {
    display: flex;
    gap: 14px;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #000844;
}

header .header-contact .item .navbar-toggle {
    cursor: pointer;
}

.first-section .content {
    position: relative;
    margin: 28px 0;
    height: 615px;
}

.first-section .content .text {
    position: absolute;
    max-width: 654px;
    top: 110px;
    z-index: 1;
    background: transparent;
}

.first-section .content .text .main-title {
    padding-bottom: 16px;
    background: transparent;
}

.first-section .content .text .description {
    max-width: 445px;
    padding-bottom: 26px;
}

.first-section .content .image {
    width: 100%;
    height: 100%;
    max-width: 923px;
    max-height: 560px;
    position: absolute;
    top: 0;
    right: 0;
}

.whatWeDo-section {
    padding: 114px 0 144px 0;
}

.whatWeDo-section .main-title {
    text-align: center;
    padding-bottom: 17px;
}

.whatWeDo-section .works-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.whatWeDo-section .works-list .work-item {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 445px;
    height: 136px;
    background: #F2F1F0;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 24px 32px;
}